h1 {
    font-size: 40px;
}

a {
    color:rgb(154, 158, 171);
}

body{
    background-color: #4257AE;
    /* background-image: url(https://i.pinimg.com/originals/a4/f2/ca/a4f2cacc725def21b2f4eef5b3fe3132.gif); */
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    background-attachment: fixed;
}

.inicio{
    background-color:rgb(41, 64, 75);
    border: 3px solid #071138;
    border-radius: 30px;
    width: 500px;
}

.lista{
    background-color: #2D2E33;
    width: 200px;
    border: 2px solid #071138;
    border-radius: 30px;
}